# Python cache
__pycache__
*.pyc

# Virtual environment
.venv/

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Images/temp files
static/capture.jpeg
static/greyscale.jpeg
data/